// fc is defined in variables.scss

.container {
  @include fc;
  min-height: 100vh;
  overflow: hidden;
  padding: 40px;
}

.card {
  @include fc;
  width: 860px;

  .nike {
    color: white;
    font-size: 11rem;
    left: 15px;
    line-height: 0.9;
    opacity: 0.1;
    position: absolute;
    text-transform: uppercase;
    top: 85px;
  }
}

.shoeBackground {
  position: relative;
  width: 50%;
  height: 475px;
  box-shadow: $box-shadow2;
  transition: 0.5s;
}

.gradients {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

@each $color, $gradient in $gradientBgs {
  .gradient[color="#{$color}"] {
    background-image: $gradient;
  }
}

.behind {
  z-index: -1 !important;
}
.display {
  z-index: 0;
  animation: 0.8s width ease;
}
@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.logo {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 20px;
}

.share {
  @include fc;
  background: #fff;
  border-radius: 50%;
  color: var(--primary);
  font-size: 1.3rem;
  height: 50px;
  position: absolute;
  right: 15px;
  text-decoration: none;
  top: 15px;
  transition: 0.5s;
  width: 50px;
  z-index: 10;
  &:hover {
    transform: scale(1.1);
  }
}
.shoe {
  bottom: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transform: rotate(-20deg);
  width: 140%;
  &.show {
    opacity: 1;
  }
}

.info {
  background: #fff;
  box-shadow: $box-shadow1;
  width: 50%;
  padding: 35px 40px;
  z-index: 1;

  .shoeName,
  .description,
  .color-container,
  .size-container {
    border-bottom: 1px solid #dadada;
  }

  .shoeName {
    padding: 0 0 10px 0;

    div {
      @include fc(1, 0);
      .big {
        color: #333;
        font-size: 2rem;
        margin-right: 10px;
        line-height: 1;
      }
      .new {
        background: var(--primary);
        border-radius: 5px;
        color: #fff;
        padding: 3px 10px;
        text-transform: uppercase;
      }
    }
    .small {
      color: #444;
      font-weight: 500;
      margin-top: 3px;
      text-transform: capitalize;
    }
  }
  .description {
    padding: 10px 0;
  }
  .title {
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .text {
    color: #555;
    font-size: 17px;
  }

  .color-container {
    padding: 10px 0;
  }

  .colors {
    @include fc(1, 0);
    padding: 8px 0;
  }

  .color {
    cursor: pointer;
    border: 5px solid;
    border-radius: 50%;
    height: 25px;
    margin: 0 10px;
    transition: 0.5s;
    width: 25px;
  }

  .color[color="blue"] {
    background-color: #2175f5;
    border-color: #2175f5;
  }

  .color[color="red"] {
    background-color: #f84848;
    border-color: #f84848;
  }

  .color[color="green"] {
    background-color: #29b864;
    border-color: #29b864;
  }

  .color[color="orange"] {
    background-color: #ff5521;
    border-color: #ff5521;
  }

  .color[color="black"] {
    background-color: #444;
    border-color: #444;
  }

  .color.active {
    border-color: #fff;
    box-shadow: $box-shadow3;
    transform: scale(1.1);
  }
  .size-container {
    padding: 10px 0;
    margin-bottom: 10px;
    .sizes {
      @include fc(1, 0);
      padding: 8px 0;
      .size {
        @include fc;
        cursor: pointer;
        background: #eee;
        border-radius: 6px;
        font-weight: 500;
        font-size: 1.1rem;
        height: 40px;
        margin: 0 10px;
        width: 40px;

        &.active {
          background: var(--primary);
          color: white;
        }
      }
    }
  }
  .buy-price {
    @include fc(1, 0);
    padding: 15px 0;
    justify-content: space-between;
    .buy {
      background: var(--primary);
      color: white;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 0.7rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;
      &:hover {
        transform: scale(1.1);
      }

      svg {
        margin-right: 5px;
      }
    }
    .price {
      align-items: flex-start;
      color: #333;
      display: flex;
      h1 {
        font-size: 2.1rem;
        font-weight: 600;
        line-height: 1;
      }
      svg {
        font-size: 1.4rem;
        margin-right: 1px;
      }
    }
  }
}
