@mixin arrangeGrid($c-min, $c-max, $r-min, $r-max) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($c-min, $c-max));
  grid-template-columns: repeat(auto-fill, minmax($r-min, $r-max));
}

.ProfileManager {
  //use grid and it's props
  // to create a responsive cards setup then implement it in MY UI LIBRARY
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background: green;
  .card-atg {
    background: gray;
  }
}
/*





.animateThese {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
  .newBox,
  .box,
  .box2 {
    width: 50px;
    height: 50px;
    background: green;
  }
  .box2 {
    background: purple;
  }
  .newBox {
    background: red;
  }
}
*/
