@mixin btn-primary {
  border-radius: 5px;
}

@mixin btn-rounded {
  border-radius: 30px;
}

@mixin btn-outlined {
  border-width: 3px;
  border-style: solid;
  transition: all 0.5s;
  padding-left: 20px;
  &:hover {
    color: #fff;
    transition: all 0.5s;
  }
}

@mixin gradient-black {
  background: $black !important;
}

@mixin btn-colored($color) {
  border-color: #{$color};
  color: #{$color};

  &:hover {
    background-color: #{$color};
    color: white;
  }
}

// Example USE
/*
  .btn {
    @include btn-colored(red);
  }
  */
