@mixin btn-style($borderColor: inherit, $radius: inherit, $padding: inherit) {
  border: $borderColor;
  border-radius: $radius;
  padding: $padding;
}

// STYLE 1
@mixin btn-style1 {
  @include btn-style(3px solid #223322, 45px, 5px 15px);

  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

// STYLE 2
@mixin btn-style2 {
  @include btn-style(1px solid #808080, 50px, 5px 15px);

  transition: all 0.5s;

  &:hover {
    box-shadow: 2px 5px 8px #909393;
  }
}

// STYLE 1
@mixin btn-style3 {
  color: white;

  @include btn-style(null, 3px, 10px 15px);
  background-color: #d4312d;
  &:hover {
    background-color: red;
  }
}

// CLASSES
.btn {
  @include btn("heading", "bold"); //
  @include btn-style3();
}
.btn-2 {
  @include btn("other", "light");
  @include btn-style2();
}
