.carousel {
  height: 590px;
  margin-bottom: 200px;
  position: relative;
  //   background-color: blue;

  // ====================
  // CAROUSEL SLIDE
  // ====================
  .carousel_slides {
    // background-color: red;
    height: 100%;
  }
  .carousel_slide {
    margin: 0 auto;
    display: none;
    text-align: center;

    &_img {
      border-radius: 30px;
      width: 1150px;
      height: 530px;
      //   margin-top: 30px;
    }

    &_content {
      position: absolute;
      font-size: 30px;
      font-weight: 800;
      color: white;
      top: 60%;
    }

    &-active {
      display: block;
      position: relative;
      overflow: hidden;
    }
  }

  // ====================
  // CAROUSEL ARROWS
  // ====================

  .leftArrow,
  .rightArrow {
    width: 30px;
    position: absolute;
    top: 45%;
    fill: grey;
    z-index: 300;
    &:hover {
      fill: rgb(32, 31, 30);
    }
  }
  .leftArrow {
    left: 15px;
  }
  .rightArrow {
    right: 15px;
  }

  // ====================
  // CAROUSEL INDICATORS
  // ====================
  .carousel_indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .carousel_indicator {
      background-color: #111;
      cursor: pointer;
      display: block;
      height: 3px;
      opacity: 0.15;
      transition: opacity 0.15s cubic-bezier(0.4, 0, 1, 1);
      width: 24px;

      &-active {
        &,
        &:hover {
          opacity: 0.75;
        }
      }

      &:hover {
        opacity: 0.5;
      }
    }

    li {
      &:nth-of-type(n + 2) {
        margin-left: 9px;
      }
    }
  }
}
