:root {
  font-size: 16px;
  font-family: "Open Sans";
}
$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 300ms;
body {
  color: black;
  background: white;
  margin: 0;
  padding: 0;
}
main {
  margin-left: 5rem;
  overflow: hidden;

  @media #{$tablet-down-query} {
    margin: 0 !important;
  }
}

// NOTE :- FIREFOX doesn't support -webkit-scrollbar , So later I will have to create a custom scrollbar for this
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-slider-thumb {
  background: #6649b8;
}

// NAVBAR STYLES
.NavbarColumnRow {
  main {
    margin-left: 5rem;
    padding: 1rem;
    padding-bottom: 5rem;
  }

  .navbar {
    padding: 0;
    position: fixed;
    background-color: $bg-primary;
    transition: width $transition-speed ease;

    .navbar-nav {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      .logo {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        color: $text-secondary;
        background: $bg-secondary;
        font-style: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;

        svg {
          transform: rotate(0deg);
          transition: transform $transition-speed;
        }
      }
      .nav-item {
        width: 100%;
        &:last-child {
          margin-top: auto;
        }
        .nav-link {
          display: flex;
          align-items: center;
          height: 5rem;
          color: $text-primary;
          text-decoration: none;
          filter: grayscale(100%) opacity(0.7);
          transition: all $transition-speed;
          &:hover {
            filter: grayscale(0%) opacity(1);
            background: $bg-secondary;
            color: $text-secondary;
          }

          .link-text {
            display: none;
            margin-left: 1rem;
          }
        }
      }
    }
    &:hover {
      .logo svg {
        transform: rotate(-180deg);
      }
    }

    @media #{$tablet-up-query} {
      // top: 0;
      width: 5rem;
      height: 100vh;
      &:hover {
        width: 16rem;
        .logo {
          padding-left: 40px;
        }
        .link-text {
          display: inline !important;
          transition: opacity $transition-speed;
        }
      }
    }

    @media #{$tablet-down-query} {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      .logo {
        display: none;
      }
      .navbar-nav {
        flex-direction: row;
        .nav-link {
          justify-content: center;
        }
      }
    }
  }

  .fa-primary {
    color: #ff7eee;
  }

  .fa-secondary {
    color: #df49a6;
  }

  .fa-primary,
  .fa-secondary {
    transition: $transition-speed;
  }
  svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  .hide {
    display: none;
  }
}
