// @media #{$tablet-up-query} {
//   .Test {
//     background-color: hsl(138, 100%, 32%);
//   }
// }
// @media #{$desktop-up-query} {
//   .Test {
//     background-color: hsl(358, 100%, 32%);
//   }
// }
// @media #{$big-desktop-up-query} {
//   .Test {
//     background-color: hsl(88, 10%, 32%);
//   }
// }
$row: darkgreen;
$col: rgb(23, 132, 232);
.Test {
  @include container($desktop, 1.5);
  .row1 {
    background-color: $row;
    @include row;
    margin-bottom: 20px;
    .col {
      @include full-col(12, 0, 6, 4);
    }
  }
  .row2 {
    @include row;
    .col {
      background-color: cadetblue;
      @include full-col(12, 6, 4);
    }
  }
}

//remove
.App {
  // background-color: gray;
  height: 100vh;
}
